
iframe[id*="coinbase_button"] {
  position: relative;
  left: 90px;
  /*bottom: 10px;*/
}

/*.FlattrButton {*/
  /*[>position:fixed;<]*/
  /*position: relative;*/
  /*left: 250px;*/
  /*bottom: 20px;  */
/*}*/
/*.FlattrButton p {*/
  /*color: #fff;*/
  /*font-family: verdana;*/
  /*font-size: 11px;*/
  /*text-decoration: none;*/
/*}*/
/*a.FlattrButton:hover {*/
  /*text-decoration: none;*/
/*}*/

.towtruck.btn {
  position: fixed;
  top: 0px;
  right: 0px;
}

#google_translate_element {
  position: fixed;
  top: 0px;
  /*left: -195px;*/
}

#google_translate_element .goog-te-gadget-simple {
  border: 0px solid #000;
  background-color: #222;
  width: 60px;
}

#google_translate_element .goog-te-menu-value {
  text-decoration: none;
}

#google_translate_element .goog-te-gadget-icon {
  /*float: right;*/
  display: none;
}

