
.mainbox {
  margin-bottom: 30px;
}

.data p {
  font-size: 19px;
}

.data .tools img {
  margin: 10px;
}

.data .clientes img {
  margin: 10px;
  width: 200px;
}

.data img.iconito {
  width: 10px;
}

