
html, body {
  height: 100%;
  cursor: default;
}

body {
  background: radial-gradient(white, #d6f0f1);
  color: #333;
  font-family: Helvetica Black, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  margin: 0px;
  overflow: hidden;
  height: 100%;
}

input {
  font-family: Helvetica Black, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 100;
  outline: none;
  padding: 6px;
  border: none;
  color: #666;
}

a:link, a:visited {
  color: CadetBlue;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: CadetBlue;
}

#container {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  pointer-events: none;
}

#bottombar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 20px 0px;
  justify-content: flex-end;
  width: 80%;
}

#reset-zoom {
  fill: #555;
  cursor: pointer;
}

#reset-zoom:hover {
  fill: black;
}

/*#reset-zoom-font {*/
  /*color: #777;*/
  /*font-size: 28px;*/
  /*width: 14px;*/
  /*height: 14px;*/
  /*border-radius: 14px;*/
  /*cursor: pointer;*/
  /*font-weight: 100;*/
  /*transform: rotate(45deg);*/
  /*background-color: #d9f1f2a8;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
/*}*/

/*#reset-zoom-font:hover {*/
  /*color: #222;*/
/*}*/

#node-search { 
  width: 30%;
  margin: 10px;
  display: flex;
  pointer-events: all;
}

#node-search input { 
  width: 100%;
}

#sidebar {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  /*background-color: rgba(0,0,0,0.04);*/
  background-color: #bcd5d666;
  display: flex;
  flex-direction: column;
}

.title {
  width: 300px;
  font-size: 40px;
  margin: 10px 0px;
  text-align: center;
  color: #333;
}

#metrics {
  overflow: hidden;
  color: #444;
}

#metrics.hovered {
  overflow-y: scroll;
}

#metric-search {
  margin: 16px 8px;
}

#metric-selected, #node-selected {
  cursor: pointer;
  margin: 10px;
  pointer-events: all;
}

.metric {
  padding: 10px 0px;
}

.metric-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*display: flex;*/
  /*justify-content: space-between;*/
}

.metric.selected {
  background-color: rgba(0,0,0,0.05);
}

.item-selected.enabled::after, 
.metric.selected .metric-text::after {
  content: " [×]";
  color: rgba(0,0,0,0.5);
}

.metric:hover {
  background-color: rgba(0,0,0,0.05);
  cursor: pointer;
}

.metric.selected:hover {
  background-color: rgba(0,0,0,0.07);
}

#help-button {
  fill: LightSlateGray;
  cursor: pointer;
  margin: 0px 20px;
}

#help-button:hover {
  fill: DarkSlateGray;
}

/*#help-button-font {*/
  /*color: #666;*/
  /*border-radius: 20px;*/
  /*width: 20px;*/
  /*height: 20px;*/
  /*margin: 0px 20px;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*font-family: Verdana, Arial, sans-serif;*/
  /*font-size: 14px;*/
  /*font-weight: 100;*/
  /*cursor: pointer;*/
  /*border: 1px #777 solid;*/
  /*background-color: #d9f1f2a8;*/
/*}*/

/*#help-button-font:hover {*/
  /*color: #222;*/
  /*border: 1px #222 solid;*/
/*}*/

#help {
  display: none;
}

#help.enabled {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
}

#help-description {
  color: white;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px; 
}

#help-description-content {
  padding: 0px 30px;
  padding-bottom: 60px;
  overflow-y: scroll;
  overflow-x: hidden;
  word-break: break-word;
}

#help-description .title {
  color: white;
}

#help-description-credits {
  margin-top: 40px;
  color: #ddd;
  display: flex;
  flex-direction: column;
}

.help-map-box {
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
}

#help-map-zoom {
  top: 50%;
  right: calc(20% + 120px);;
  width: 200px;
}

#help-map-zoom .icon-zoom-out {
  transform: rotate(45deg);
}

#help-map-zoom div {
  display: flex;
  align-items: center;
  margin: 4px 0px;
}

#help-map-zoom svg {
  height: 20px;
  fill: CadetBlue;
  margin-right: 6px;
}

#help-map-zoom-reset { 
  bottom: 76px;
  right: calc(20% + 76px);
  width: 80px;
}

#help-map-zoom-reset svg { 
  position: absolute;
  right: -11px;
  bottom: -20px;
  transform: rotate(90deg);
  fill: rgba(0,0,0,0.7);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

